<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
  </head>
  <body>
    <h1><%=title %></h1>
    <form action="/new" method="POST">
      <label for="user">Username</label>
      <input id="user" name="user" />

      <label for="text">Message</label>
      <input id="text" name="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
