<header>
  <div class="wrapper">
    <nav>
      <ul class="nav-list">
        <li><a class="logo" href="/">MMB</a></li>
        <li><a class="msg-btn" href="/new">New Message!</a></li>
      </ul>
    </nav>
  </div>
</header>
