form {
  margin-top: 2rem;
}

label {
  font-weight: 600;
  font-size: 0.875rem;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  font-family: inherit;
  width: 15rem;
  padding: 0.5rem;
}

textarea {
  resize: none;
}

.valid-txt {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  font-style: italic;
}

button {
  max-width: 8.75rem;
}
