.title {
  padding-bottom: 1.5rem;
}

.sub-title {
  padding-bottom: 1rem;
}

.msg-list {
  border: 1px solid var(--msg-border-clr);
}

.msg-list li:nth-of-type(even) {
  background-color: #ececec;
}

.msg-list li:last-child p {
  border: none;
}

.msg-author-wrapper,
.msg {
  padding: 0.7rem 0.5rem;
  border-bottom: 1px solid var(--msg-border-clr);
}

.msg-author-wrapper {
  display: flex;
  justify-content: space-between;
}

.msg {
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
